@page
@model Guia6.Pages.Libros.CrearModel
@{
    ViewData["Title"] = "Crear Libro";
}



<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Crear Libro</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="NewLibro.ISBN"></label>
            <input asp-for="NewLibro.ISBN" class="form-control" />
            <span asp-validation-for="NewLibro.ISBN" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewLibro.Titulo"></label>
            <input asp-for="NewLibro.Titulo" class="form-control" />
            <span asp-validation-for="NewLibro.Titulo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewLibro.Autor"></label>
            <input asp-for="NewLibro.Autor" class="form-control" />
            <span asp-validation-for="NewLibro.Autor" class="text-danger"></span>
		</div>

        <div class="mb-3">
            <label asp-for="NewLibro.AñoPublicacion"></label>
            <input asp-for="NewLibro.AñoPublicacion" class="form-control" />
            <span asp-validation-for="NewLibro.AñoPublicacion" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewLibro.Precio"></label>
            <input asp-for="NewLibro.Precio" class="form-control" />
            <span asp-validation-for="NewLibro.Precio" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="NewLibro.FechaLectura"></label>
            <input asp-for="NewLibro.FechaLectura" class="form-control" />
            <span asp-validation-for="NewLibro.FechaLectura" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewLibro.NumPaginas"></label>
            <input asp-for="NewLibro.NumPaginas" class="form-control" />
            <span asp-validation-for="NewLibro.NumPaginas" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Crear</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:200px;">Regresar al Listado</a>
	</div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
